# Laravel
/bootstrap/compiled.php
/vendor
/scripts
.env.*.php
.env.php

# Configuration
/app/config/local
/app/config/staging
/app/config/production

# Storage
/app/storage

# Basset development collections and other assets
/public/assets/compiled/public
/public/assets/compiled/admin
/public/assets/thumbs

# Composer
composer.phar
composer.lock
/workbench

# Packages
_ide_helpers.php
_ide_helper.php

# Behat
behat.yml
